html {
    min-height: 100%;
}

body {
    background-image: url("./sky.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */

.container {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

header .heading {
    display: flex;
    align-items: center;
}

/* Search */

.search-bar {
    width: 75%;
    margin: 100px auto;
}


/* Weather */

/* Current Weather */

.current-weather {
    width: 30%;
    margin: 20px auto;
    color: white !important;
}

.current-card {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Icon */

.icon-card-narrow {
    width: 135px;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.icon-card-wide {
    width: 210px;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.inline-icon {
    display: inline-block;
    padding: 10px;
}

@media screen and (max-width: 1200px) {

    .inline-icon {
        padding: 5px;
    }
    
    .icon-card-narrow {
        width: 95px;
    }

    .icon-card-wide {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    header ul.nav {
        visibility: hidden;
        position: absolute;
    }

    .current-weather {
        width: 40%;
    }
    
    .inline-icon {
        padding: 2px;
    }

    .icon-card-narrow {
        width: 75px;
    }

    .icon-card-wide {
        width: 100px;
    }

    .weather-icon {
        width: 50px;
        height: 50px;
    }

    .hourly .card h5 {
        font-size: 1rem !important;
    }

    .hourly .card h4 {
        font-size: 0.8rem;
    }

    .hourly .card h2 {
        font-size: 1.2rem;
    }

    .daily .card h5 {
        font-size: 0.8rem !important;
    }

    .daily .card h4 {
        font-size: 0.8rem;
    }

    .daily .card h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 576px) {
    .current-weather {
        width: 60%;
    }

    .inline-icon {
        padding: 1px;
    }

    .icon-card-narrow {
        width: 60px;
    }

    .icon-card-wide {
        width: 90px;
    }

    .weather-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev {
        visibility: hidden;
    }

    .carousel-control-next {
        visibility: hidden;
    }
}