html {
    min-height: 100%;
}

body {
    background-image: url("./sky.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */

header .heading {
    display: flex;
    align-items: center;
}

/* Search */

.search-bar {
    width: 75%;
    margin: 100px auto;
}


/* Weather */

/* Current Weather */

.current-weather {
    width: 30%;
    margin: 20px auto;
    color: white !important;
}

/* Icon */

.icon-card-narrow {
    width: 135px;
    background-color: transparent !important; 
}

.icon-card-wide {
    width: 210px;
}

.inline-icon {
    display: inline-block;
    padding: 10px;
}

/* Hourly */

.hourly {
    text-align: center;
}

/* Daily */

.daily {
    text-align: center;
}

@media screen and (max-width: 768px) {
    header ul.nav {
        visibility: hidden;
        position: absolute;
    }

    .current-weather {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .current-weather {
        width: 60%;
    }
}