/* Header */

header span {
    margin-left: 5px;
}

/* Search */

.search-bar {
    width: 70%;
    margin: 100px auto;
}

.search-bar input {
    font-size: 3rem;
    border-radius: 15px;
    padding-left: 20px;
}

/* Current Weather */

.current-weather {
    width: 30%;
    margin: 20px auto;
}

.current-headers {
    margin: 0 auto;
    text-align: center;
}

.current-card {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.current-weather .description {
    font-weight: bold;
    font-size: 2rem;
}

/* Icon */

.icon-card {
    width: 125px;
}

.inline-icon {
    display: inline-block;
    padding: 10px;
}

/* Hourly */

.hourly {
    text-align: center;
}

/* Daily */

.daily {
    text-align: center;
}